									
									<!--begin::Engage widget 1-->
									<div class="card h-md-100">
										<!--begin::Body-->
										<div class="card-body d-flex flex-column flex-center">
											<!--begin::Heading-->
											<div class="mb-2">
												<!--begin::Title-->
												<h1 class="fw-bold text-gray-800 text-center lh-lg">Have your tried
												<br />new
												<span class="fw-boldest">Invoice Manager?</span></h1>
												<!--end::Title-->
												<!--begin::Illustration-->
												<div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 my-lg-12" style="background-image:url('assets/media/svg/illustrations/easy/2.svg')"></div>
												<!--end::Illustration-->
											</div>
											<!--end::Heading-->
											<!--begin::Links-->
											<div class="text-center mb-1">
												<!--begin::Link-->
												<a class="btn btn-sm btn-primary me-2" data-bs-target="#kt_modal_new_address" data-bs-toggle="modal">Try Now</a>
												<!--end::Link-->
												<!--begin::Link-->
												<a class="btn btn-sm btn-light" href="?page=apps/user-management/users/view">Learn More</a>
												<!--end::Link-->
											</div>
											<!--end::Links-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Engage widget 1-->
									