									
									<!--begin::Engage widget 8-->
									<div class="card h-md-100" style="background: linear-gradient(112.14deg, #00D2FF 0%, #3A7BD5 100%)">
										<!--begin::Body-->
										<div class="card-body">
											<!--begin::Row-->
											<div class="row align-items-center h-100">
												<!--begin::Col-->
												<div class="col-7 ps-xl-13">
													<!--begin::Title-->
													<div class="text-white mb-6 pt-6">
														<span class="fs-4 fw-bold me-2 d-block lh-1 pb-2 opacity-75">Get best offer</span>
														<span class="fs-2qx fw-bolder">Upgrade Your Plan</span>
													</div>
													<!--end::Title-->
													<!--begin::Text-->
													<span class="fw-bold text-white fs-6 mb-8 d-block opacity-75">Flat cartoony and illustrations with vivid unblended purple hair lady</span>
													<!--end::Text-->
													<!--begin::Items-->
													<div class="d-flex align-items-center flex-wrap d-grid gap-2 mb-10 mb-xl-20">
														<!--begin::Item-->
														<div class="d-flex align-items-center me-5 me-xl-13">
															<!--begin::Symbol-->
															<div class="symbol symbol-30px symbol-circle me-3">
																<span class="symbol-label" style="background: #35C7FF">
																	<!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-white">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
																			<path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</span>
															</div>
															<!--end::Symbol-->
															<!--begin::Info-->
															<div class="text-white">
																<span class="fw-bold d-block fs-8 opacity-75">Projects</span>
																<span class="fw-bolder fs-7">Up to 500</span>
															</div>
															<!--end::Info-->
														</div>
														<!--end::Item-->
														<!--begin::Item-->
														<div class="d-flex align-items-center">
															<!--begin::Symbol-->
															<div class="symbol symbol-30px symbol-circle me-3">
																<span class="symbol-label" style="background: #35C7FF">
																	<!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-white">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
																			<path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</span>
															</div>
															<!--end::Symbol-->
															<!--begin::Info-->
															<div class="text-white">
																<span class="fw-bold opacity-75 d-block fs-8">Tasks</span>
																<span class="fw-bolder fs-7">Unlimited</span>
															</div>
															<!--end::Info-->
														</div>
														<!--end::Item-->
													</div>
													<!--end::Items-->
													<!--begin::Action-->
													<div class="d-flex flex-column flex-sm-row d-grid gap-2">
														<a href="#" class="btn btn-success flex-shrink-0 me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade Plan</a>
														<a href="#" class="btn btn-primary flex-shrink-0" style="background: rgba(255, 255, 255, 0.2)" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Read Guides</a>
													</div>
													<!--end::Action-->
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-5 pt-10">
													<!--begin::Illustration-->
													<div class="bgi-no-repeat bgi-size-contain bgi-position-x-end h-225px" style="background-image:url('assets/media/svg/illustrations/easy/5.svg');"></div>
													<!--end::Illustration-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Engage widget 8-->
									