									
									<!--begin::Card widget 18-->
									<div class="card card-flush border-0 h-md-100">
										<!--begin::Body-->
										<div class="card-body py-9">
											<!--begin::Row-->
											<div class="row gx-9 h-100">
												<!--begin::Col-->
												<div class="col-sm-6 mb-10 mb-sm-0">
													<!--begin::Image-->
													<div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-400px min-h-sm-100 h-100" style="background-size: 100% 100%;background-image:url('assets/media/stock/600x600/img-33.jpg');"></div>
													<!--end::Image-->
												</div>
												<!--end::Col-->
												<!--begin::Col-->
												<div class="col-sm-6">
													<!--begin::Wrapper-->
													<div class="d-flex flex-column h-100">
														<!--begin::Header-->
														<div class="mb-7">
															<!--begin::Headin-->
															<div class="d-flex flex-stack mb-6">
																<!--begin::Title-->
																<div class="flex-shrink-0 me-5">
																	<span class="text-gray-400 fs-7 fw-bolder me-2 d-block lh-1 pb-1">Featured</span>
																	<span class="text-gray-800 fs-1 fw-bolder">9 Degree</span>
																</div>
																<!--end::Title-->
																<span class="badge badge-light-primary flex-shrink-0 align-self-center py-3 px-4 fs-7">In Process</span>
															</div>
															<!--end::Heading-->
															<!--begin::Items-->
															<div class="d-flex align-items-center flex-wrap d-grid gap-2">
																<!--begin::Item-->
																<div class="d-flex align-items-center me-5 me-xl-13">
																	<!--begin::Symbol-->
																	<div class="symbol symbol-30px symbol-circle me-3">
																		<img src="assets/media/avatars/300-3.jpg" class="" alt="" />
																	</div>
																	<!--end::Symbol-->
																	<!--begin::Info-->
																	<div class="m-0">
																		<span class="fw-bold text-gray-400 d-block fs-8">Manager</span>
																		<span class="fw-bolder text-gray-800 fs-7">Robert Fox</span>
																	</div>
																	<!--end::Info-->
																</div>
																<!--end::Item-->
																<!--begin::Item-->
																<div class="d-flex align-items-center">
																	<!--begin::Symbol-->
																	<div class="symbol symbol-30px symbol-circle me-3">
																		<span class="symbol-label bg-success">
																			<!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
																			<span class="svg-icon svg-icon-5 svg-icon-white">
																				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																					<path d="M18 21.6C16.6 20.4 9.1 20.3 6.3 21.2C5.7 21.4 5.1 21.2 4.7 20.8L2 18C4.2 15.8 10.8 15.1 15.8 15.8C16.2 18.3 17 20.5 18 21.6ZM18.8 2.8C18.4 2.4 17.8 2.20001 17.2 2.40001C14.4 3.30001 6.9 3.2 5.5 2C6.8 3.3 7.4 5.5 7.7 7.7C9 7.9 10.3 8 11.7 8C15.8 8 19.8 7.2 21.5 5.5L18.8 2.8Z" fill="currentColor" />
																					<path opacity="0.3" d="M21.2 17.3C21.4 17.9 21.2 18.5 20.8 18.9L18 21.6C15.8 19.4 15.1 12.8 15.8 7.8C18.3 7.4 20.4 6.70001 21.5 5.60001C20.4 7.00001 20.2 14.5 21.2 17.3ZM8 11.7C8 9 7.7 4.2 5.5 2L2.8 4.8C2.4 5.2 2.2 5.80001 2.4 6.40001C2.7 7.40001 3.00001 9.2 3.10001 11.7C3.10001 15.5 2.40001 17.6 2.10001 18C3.20001 16.9 5.3 16.2 7.8 15.8C8 14.2 8 12.7 8 11.7Z" fill="currentColor" />
																				</svg>
																			</span>
																			<!--end::Svg Icon-->
																		</span>
																	</div>
																	<!--end::Symbol-->
																	<!--begin::Info-->
																	<div class="m-0">
																		<span class="fw-bold text-gray-400 d-block fs-8">Budget</span>
																		<span class="fw-bolder text-gray-800 fs-7">$64.800</span>
																	</div>
																	<!--end::Info-->
																</div>
																<!--end::Item-->
															</div>
															<!--end::Items-->
														</div>
														<!--end::Header-->
														<!--begin::Body-->
														<div class="mb-6">
															<!--begin::Text-->
															<span class="fw-bold text-gray-600 fs-6 mb-8 d-block">Flat cartoony illustrations with vivid unblended colors and asymmetrical beautiful purple hair lady</span>
															<!--end::Text-->
															<!--begin::Stats-->
															<div class="d-flex">
																<!--begin::Stat-->
																<div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 me-6 mb-3">
																	<!--begin::Date-->
																	<span class="fs-6 text-gray-700 fw-bolder">Feb 6, 2021</span>
																	<!--end::Date-->
																	<!--begin::Label-->
																	<div class="fw-bold text-gray-400">Due Date</div>
																	<!--end::Label-->
																</div>
																<!--end::Stat-->
																<!--begin::Stat-->
																<div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 mb-3">
																	<!--begin::Number-->
																	<span class="fs-6 text-gray-700 fw-bolder">$
																	<span class="ms-n1" data-kt-countup="true" data-kt-countup-value="284,900.00">0</span></span>
																	<!--end::Number-->
																	<!--begin::Label-->
																	<div class="fw-bold text-gray-400">Budget</div>
																	<!--end::Label-->
																</div>
																<!--end::Stat-->
															</div>
															<!--end::Stats-->
														</div>
														<!--end::Body-->
														<!--begin::Footer-->
														<div class="d-flex flex-stack mt-auto bd-highlight">
															<!--begin::Users group-->
															<div class="symbol-group symbol-hover flex-nowrap">
																<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="Melody Macy">
																	<img alt="Pic" src="assets/media/avatars/300-2.jpg" />
																</div>
																<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="Michael Eberon">
																	<img alt="Pic" src="assets/media/avatars/300-3.jpg" />
																</div>
																<div class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip" title="Susan Redwood">
																	<span class="symbol-label bg-primary text-inverse-primary fw-bolder">S</span>
																</div>
															</div>
															<!--end::Users group-->
															<!--begin::Actions-->
															<a href="?page=apps/projects/project" class="text-primary opacity-75-hover fs-6 fw-bold">View Project
															<!--begin::Svg Icon | path: icons/duotune/arrows/arr095.svg-->
															<span class="svg-icon svg-icon-4 svg-icon-gray-800 ms-1">
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																	<path opacity="0.3" d="M4.7 17.3V7.7C4.7 6.59543 5.59543 5.7 6.7 5.7H9.8C10.2694 5.7 10.65 5.31944 10.65 4.85C10.65 4.38056 10.2694 4 9.8 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21H18C19.1046 21 20 20.1046 20 19V14.2C20 13.7306 19.6194 13.35 19.15 13.35C18.6806 13.35 18.3 13.7306 18.3 14.2V17.3C18.3 18.4046 17.4046 19.3 16.3 19.3H6.7C5.59543 19.3 4.7 18.4046 4.7 17.3Z" fill="currentColor" />
																	<rect x="21.9497" y="3.46448" width="13" height="2" rx="1" transform="rotate(135 21.9497 3.46448)" fill="currentColor" />
																	<path d="M19.8284 4.97161L19.8284 9.93937C19.8284 10.5252 20.3033 11 20.8891 11C21.4749 11 21.9497 10.5252 21.9497 9.93937L21.9497 3.05029C21.9497 2.498 21.502 2.05028 20.9497 2.05028L14.0607 2.05027C13.4749 2.05027 13 2.52514 13 3.11094C13 3.69673 13.4749 4.17161 14.0607 4.17161L19.0284 4.17161C19.4702 4.17161 19.8284 4.52978 19.8284 4.97161Z" fill="currentColor" />
																</svg>
															</span>
															<!--end::Svg Icon--></a>
															<!--end::Actions-->
														</div>
														<!--end::Footer-->
													</div>
													<!--end::Wrapper-->
												</div>
												<!--end::Col-->
											</div>
											<!--end::Row-->
										</div>
										<!--end::Body-->
									</div>
									<!--end::Card widget 18-->
									