									
									<!--begin::Tables widget 14-->
									<div class="card card-flush h-md-100">
										<!--begin::Header-->
										<div class="card-header pt-7">
											<!--begin::Title-->
											<h3 class="card-title align-items-start flex-column">
												<span class="card-label fw-bolder text-gray-800">Projects Stats</span>
												<span class="text-gray-400 mt-1 fw-bold fs-6">Updated 37 minutes ago</span>
											</h3>
											<!--end::Title-->
											<!--begin::Toolbar-->
											<div class="card-toolbar">
												<a href="?page=apps/ecommerce/catalog/add-product" class="btn btn-sm btn-light">History</a>
											</div>
											<!--end::Toolbar-->
										</div>
										<!--end::Header-->
										<!--begin::Body-->
										<div class="card-body pt-6">
											<!--begin::Table container-->
											<div class="table-responsive">
												<!--begin::Table-->
												<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
													<!--begin::Table head-->
													<thead>
														<tr class="fs-7 fw-bolder text-gray-400 border-bottom-0">
															<th class="p-0 pb-3 min-w-175px text-start">ITEM</th>
															<th class="p-0 pb-3 min-w-100px text-end">BUDGET</th>
															<th class="p-0 pb-3 min-w-100px text-end">PROGRESS</th>
															<th class="p-0 pb-3 min-w-175px text-end pe-12">STATUS</th>
															<th class="p-0 pb-3 w-125px text-end pe-7">CHART</th>
															<th class="p-0 pb-3 w-50px text-end">VIEW</th>
														</tr>
													</thead>
													<!--end::Table head-->
													<!--begin::Table body-->
													<tbody>
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="symbol symbol-50px me-3">
																		<img src="assets/media/stock/600x600/img-49.jpg" class="" alt="" />
																	</div>
																	<div class="d-flex justify-content-start flex-column">
																		<a href="#" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6">Mivy App</a>
																		<span class="text-gray-400 fw-bold d-block fs-7">Jane Cooper</span>
																	</div>
																</div>
															</td>
															<td class="text-end pe-0">
																<span class="text-gray-600 fw-bolder fs-6">$32,400</span>
															</td>
															<td class="text-end pe-0">
																<!--begin::Label-->
																<span class="badge badge-success fs-base">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-white ms-n1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
																		<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->9.2%</span>
																<!--end::Label-->
															</td>
															<td class="text-end pe-12">
																<span class="badge py-3 px-4 fs-7 badge-light-primary">In Process</span>
															</td>
															<td class="text-end pe-0">
																<div id="kt_table_widget_14_chart_1" class="h-50px mt-n8 pe-7" data-kt-chart-color="success"></div>
															</td>
															<td class="text-end">
																<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																	<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																			<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</a>
															</td>
														</tr>
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="symbol symbol-50px me-3">
																		<img src="assets/media/stock/600x600/img-40.jpg" class="" alt="" />
																	</div>
																	<div class="d-flex justify-content-start flex-column">
																		<a href="#" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6">Avionica</a>
																		<span class="text-gray-400 fw-bold d-block fs-7">Esther Howard</span>
																	</div>
																</div>
															</td>
															<td class="text-end pe-0">
																<span class="text-gray-600 fw-bolder fs-6">$256,910</span>
															</td>
															<td class="text-end pe-0">
																<!--begin::Label-->
																<span class="badge badge-danger fs-base">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr065.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-white ms-n1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="11" y="18" width="13" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
																		<path d="M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->0.4%</span>
																<!--end::Label-->
															</td>
															<td class="text-end pe-12">
																<span class="badge py-3 px-4 fs-7 badge-light-warning">On Hold</span>
															</td>
															<td class="text-end pe-0">
																<div id="kt_table_widget_14_chart_2" class="h-50px mt-n8 pe-7" data-kt-chart-color="danger"></div>
															</td>
															<td class="text-end">
																<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																	<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																			<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</a>
															</td>
														</tr>
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="symbol symbol-50px me-3">
																		<img src="assets/media/stock/600x600/img-39.jpg" class="" alt="" />
																	</div>
																	<div class="d-flex justify-content-start flex-column">
																		<a href="#" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6">Charto CRM</a>
																		<span class="text-gray-400 fw-bold d-block fs-7">Jenny Wilson</span>
																	</div>
																</div>
															</td>
															<td class="text-end pe-0">
																<span class="text-gray-600 fw-bolder fs-6">$8,220</span>
															</td>
															<td class="text-end pe-0">
																<!--begin::Label-->
																<span class="badge badge-success fs-base">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-white ms-n1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
																		<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->9.2%</span>
																<!--end::Label-->
															</td>
															<td class="text-end pe-12">
																<span class="badge py-3 px-4 fs-7 badge-light-primary">In Process</span>
															</td>
															<td class="text-end pe-0">
																<div id="kt_table_widget_14_chart_3" class="h-50px mt-n8 pe-7" data-kt-chart-color="success"></div>
															</td>
															<td class="text-end">
																<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																	<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																			<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</a>
															</td>
														</tr>
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="symbol symbol-50px me-3">
																		<img src="assets/media/stock/600x600/img-47.jpg" class="" alt="" />
																	</div>
																	<div class="d-flex justify-content-start flex-column">
																		<a href="#" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6">Tower Hill</a>
																		<span class="text-gray-400 fw-bold d-block fs-7">Cody Fisher</span>
																	</div>
																</div>
															</td>
															<td class="text-end pe-0">
																<span class="text-gray-600 fw-bolder fs-6">$74,000</span>
															</td>
															<td class="text-end pe-0">
																<!--begin::Label-->
																<span class="badge badge-success fs-base">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-white ms-n1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
																		<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->9.2%</span>
																<!--end::Label-->
															</td>
															<td class="text-end pe-12">
																<span class="badge py-3 px-4 fs-7 badge-light-success">Complated</span>
															</td>
															<td class="text-end pe-0">
																<div id="kt_table_widget_14_chart_4" class="h-50px mt-n8 pe-7" data-kt-chart-color="success"></div>
															</td>
															<td class="text-end">
																<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																	<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																			<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</a>
															</td>
														</tr>
														<tr>
															<td>
																<div class="d-flex align-items-center">
																	<div class="symbol symbol-50px me-3">
																		<img src="assets/media/stock/600x600/img-48.jpg" class="" alt="" />
																	</div>
																	<div class="d-flex justify-content-start flex-column">
																		<a href="#" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6">9 Degree</a>
																		<span class="text-gray-400 fw-bold d-block fs-7">Savannah Nguyen</span>
																	</div>
																</div>
															</td>
															<td class="text-end pe-0">
																<span class="text-gray-600 fw-bolder fs-6">$183,300</span>
															</td>
															<td class="text-end pe-0">
																<!--begin::Label-->
																<span class="badge badge-danger fs-base">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr065.svg-->
																<span class="svg-icon svg-icon-5 svg-icon-white ms-n1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="11" y="18" width="13" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
																		<path d="M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->0.4%</span>
																<!--end::Label-->
															</td>
															<td class="text-end pe-12">
																<span class="badge py-3 px-4 fs-7 badge-light-primary">In Process</span>
															</td>
															<td class="text-end pe-0">
																<div id="kt_table_widget_14_chart_5" class="h-50px mt-n8 pe-7" data-kt-chart-color="danger"></div>
															</td>
															<td class="text-end">
																<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
																	<!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
																	<span class="svg-icon svg-icon-5 svg-icon-gray-700">
																		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																			<path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
																			<path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</a>
															</td>
														</tr>
													</tbody>
													<!--end::Table body-->
												</table>
											</div>
											<!--end::Table-->
										</div>
										<!--end: Card Body-->
									</div>
									<!--end::Tables widget 14-->
									