									
									<!--begin::Timeline Widget 4-->
									<div class="card h-md-100">
										<!--begin::Card header-->
										<div class="card-header position-relative py-0 border-bottom-1">
											<!--begin::Card title-->
											<h3 class="card-title text-gray-800 fw-bolder">Active Tasks</h3>
											<!--end::Card title-->
											<!--begin::Tabs-->
											<ul class="nav nav-stretch nav-pills nav-pills-custom d-flex mt-4">
												<!--begin::Nav item-->
												<li class="nav-item p-0 ms-0">
													<a class="nav-link btn btn-color-gray-400 flex-center px-3 active" data-kt-timeline-widget-4="tab" data-bs-toggle="tab" href="#kt_timeline_widget_4_tab_day">
														<!--begin::Title-->
														<span class="nav-text fw-bold fs-4 mb-3">Day</span>
														<!--end::Title-->
														<!--begin::Bullet-->
														<span class="bullet-custom position-absolute z-index-2 w-100 h-1px top-100 bottom-n100 bg-primary rounded"></span>
														<!--end::Bullet-->
													</a>
												</li>
												<!--end::Nav item-->
												<!--begin::Nav item-->
												<li class="nav-item p-0 ms-0">
													<a class="nav-link btn btn-color-gray-400 flex-center px-3" data-kt-timeline-widget-4="tab" data-bs-toggle="tab" href="#kt_timeline_widget_4_tab_week">
														<!--begin::Title-->
														<span class="nav-text fw-bold fs-4 mb-3">Week</span>
														<!--end::Title-->
														<!--begin::Bullet-->
														<span class="bullet-custom position-absolute z-index-2 w-100 h-1px top-100 bottom-n100 bg-primary rounded"></span>
														<!--end::Bullet-->
													</a>
												</li>
												<!--end::Nav item-->
												<!--begin::Nav item-->
												<li class="nav-item p-0 ms-0">
													<a class="nav-link btn btn-color-gray-400 flex-center px-3" data-kt-timeline-widget-4="tab" data-bs-toggle="tab" href="#kt_timeline_widget_4_tab_month">
														<!--begin::Title-->
														<span class="nav-text fw-bold fs-4 mb-3">Month</span>
														<!--end::Title-->
														<!--begin::Bullet-->
														<span class="bullet-custom position-absolute z-index-2 w-100 h-1px top-100 bottom-n100 bg-primary rounded"></span>
														<!--end::Bullet-->
													</a>
												</li>
												<!--end::Nav item-->
												<!--begin::Nav item-->
												<li class="nav-item p-0 ms-0">
													<a class="nav-link btn btn-color-gray-400 flex-center px-3" data-kt-timeline-widget-4="tab" data-bs-toggle="tab" href="#kt_timeline_widget_4_tab_2022">
														<!--begin::Title-->
														<span class="nav-text fw-bold fs-4 mb-3">2022</span>
														<!--end::Title-->
														<!--begin::Bullet-->
														<span class="bullet-custom position-absolute z-index-2 w-100 h-1px top-100 bottom-n100 bg-primary rounded"></span>
														<!--end::Bullet-->
													</a>
												</li>
												<!--end::Nav item-->
											</ul>
											<!--end::Tabs-->
										</div>
										<!--end::Card header-->
										<!--begin::Card body-->
										<div class="card-body pb-0">
											<!--begin::Tab content-->
											<div class="tab-content">
												<!--begin::Tab pane-->
												<div class="tab-pane active" id="kt_timeline_widget_4_tab_day" role="tabpanel" aria-labelledby="day-tab" data-kt-timeline-widget-4-blockui="true">
													<div class="table-responsive pb-10">
														<!--begin::Timeline-->
														<div id="kt_timeline_widget_4_1" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-4-image-root="assets/media/"></div>
														<!--end::Timeline-->
													</div>
												</div>
												<!--end::Tab pane-->
												<!--begin::Tab pane-->
												<div class="tab-pane" id="kt_timeline_widget_4_tab_week" role="tabpanel" aria-labelledby="week-tab" data-kt-timeline-widget-4-blockui="true">
													<div class="table-responsive pb-10">
														<!--begin::Timeline-->
														<div id="kt_timeline_widget_4_2" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-4-image-root="assets/media/"></div>
														<!--end::Timeline-->
													</div>
												</div>
												<!--end::Tab pane-->
												<!--begin::Tab pane-->
												<div class="tab-pane" id="kt_timeline_widget_4_tab_month" role="tabpanel" aria-labelledby="month-tab" data-kt-timeline-widget-4-blockui="true">
													<div class="table-responsive pb-10">
														<!--begin::Timeline-->
														<div id="kt_timeline_widget_4_3" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-4-image-root="assets/media/"></div>
														<!--end::Timeline-->
													</div>
												</div>
												<!--end::Tab pane-->
												<!--begin::Tab pane-->
												<div class="tab-pane" id="kt_timeline_widget_4_tab_2022" role="tabpanel" aria-labelledby="week-tab" data-kt-timeline-widget-4-blockui="true">
													<div class="table-responsive pb-10">
														<!--begin::Timeline-->
														<div id="kt_timeline_widget_4_4" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-4-image-root="assets/media/"></div>
														<!--end::Timeline-->
													</div>
												</div>
												<!--end::Tab pane-->
											</div>
											<!--end::Tab content-->
										</div>
										<!--end::Card body-->
									</div>
									<!--end::Timeline Widget 1-->
									